body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: bisque;
    }

h1 {
    font-family: sans-serif;
    color: chocolate;
}
    
table {
    font-family: serif;
    border-collapse: collapse;
   
}   

td, th {
    border: 3px solid;
    padding: 12px;
    background: coral;
    text-align: center;
}